<!DOCTYPE html>
<html>
  <head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
       <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="MCG Construction PCL is among Ethiopian emerging construction firms that aim to provide a wide range of civil works and related infrastructure development services such as construction of roads, buildings, Dams, water and water related construction works, real estate developments and drainage systems. ">
  <meta name="author" content="YESU IT Solution">
    <title>MCG Construction</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

 <%= favicon_link_tag 'icons/favicon.ico' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
